/* Define jumbotron styling */
.jumbotron-section {
  background-color: #092e53;
  padding: 40px;
  color: #010000;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.449);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.jumbotron-section.active {
  opacity: 1;
}
